@using TenantManagement.Common;
@model TenantManagement.Models.EmailBaseModel
@{
    ViewBag.Title = "RSG Inventory Account Access";
    Layout = "~/EmailTemplates/_Layout.cshtml";
}
<p style="color:#024584">Hello @Model.Data[nameof(EmailDataKeys.Name)],</p>
<p style="color:#024584">
    @Model.Data[nameof(EmailDataKeys.FromName)] (@Model.Data[nameof(EmailDataKeys.FromEmail)]) has invited you to join their account.
</p>
<p style="color:#024584">
    Switching between accounts is easy! Look for the link under your profile name.<br />
    You can select your default account through your profile settings.
</p>
<a style="display: block;
        background-color: #91bc7b;
        padding: 0.75rem;
        width: 12rem;
        color: black;
        text-align: center;
        text-decoration: none;
        border-radius: 10rem;
        font-weight: bold;"
   href="https://@Model.Data[nameof(EmailDataKeys.Domain)]">
    Sign In
</a>