@using TenantManagement.Common;
@model TenantManagement.Models.EmailBaseModel
@{
	ViewBag.Title = "RSG Inventory Password Reset Code";
	Layout = "~/EmailTemplates/_Layout.cshtml";
}

<p style="color:#024584">Hello @Model.Data[nameof(EmailDataKeys.Name)],</p>
<p style="color:#024584">Please follow the link to reset your password.</p>
<p style="color:#024584">Code: @Model.Data[nameof(EmailDataKeys.Code)]</p>
<a style="display: block;
		background-color: #91bc7b;
        padding: 0.75rem;
		width: 12rem;
		color: black;
		text-align: center;
		text-decoration: none;
		border-radius: 10rem;
		font-weight: bold;"
   href="https://@Model.Data[nameof(EmailDataKeys.Domain)]/reset-token?state=@Model.Data[nameof(EmailDataKeys.Id)]&code=@Model.Data[nameof(EmailDataKeys.Code)]">
	Reset Password
</a>

